docs/n8n_workflow_export.cleaned.json
{
  "id": "g3n4-VbNLiSzibtM1Xume",
  "name": "MyOS workflow",
  "active": 1,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        96
      ],
      "id": "cb1c056d-587f-45ca-bc98-5bb046e7b7db",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "5xNRdQXlfM5AWv1o",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://server:8000/memorize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Date: {{ $json.internalDate }} \nFrom: {{ $json.From }}\nSubject: {{ $json.Subject }}\nContent: {{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        96
      ],
      "id": "7ed2e050-d48e-483f-862a-2c1e419e6d19",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://server:8000/analyze_email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Date: {{ $json.internalDate }}\nFrom: {{ $json.From }}\nSubject: {{ $json.Subject }}\nContent: {{ $json.snippet }}"
            },
            {
              "name": "email_id",
              "value": "={{ $json.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        240
      ],
      "id": "4c599e11-d50f-4b7e-8b76-d346de7d1233",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "versionId": "53fa8da2-3c4e-40f1-9a8b-e1800434267a",
  "triggerCount": 2,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "parentFolderId": null,
  "createdAt": "2026-01-16 10:00:58.046",
  "updatedAt": "2026-03-18 12:22:44.247",
  "isArchived": 0,
  "versionCounter": 137,
  "description": null,
  "activeVersionId": "ad1ea9b6-9dca-4cf8-b0b5-2638df48fab9"
}